<div class="row">
    <div class="col-mid-6">
        <form [formGroup]="productForm" (ngSubmit)="save()" class="product-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input formControlName="title" type="text" [(ngModel)]="product.title" class="form-control">
                <div *ngIf="title.touched && title.hasError('required') && title.invalid" class="alert alert-danger" >
                    Title is required
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">€</span>
                    <input formControlName="price" id="price" [(ngModel)]="product.price"  type="number" class="form-control">
                </div>
                <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
                    <div *ngIf="price.errors.required">Price is required</div>
                    <div *ngIf="price.errors.min">Price should be 0 € or higher</div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select formControlName="category" id="category" [(ngModel)]="product.category"  class="form-control">
                    <div *ngIf="category.touched && category.hasError('required') && category.invalid" class="alert alert-danger">
                        Category is required
                    </div>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">
                        {{ c.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input formControlName="imageUrl" id="imageUrl" [(ngModel)]="product.imageUrl"  type="text" class="form-control">
            </div>
            <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
                <div *ngIf="imageUrl.errors.required" >Image URL is required</div>
                <div *ngIf="imageUrl.errors.pattern">Please enter a valid URL</div>
            </div>
            <button type="submit" class="btn btn-primary btn-save">Save</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </form>
    </div>
    <div class="col-mid-6">
        <product-card [product]="product" [show-actions]="false"></product-card>
    </div>
</div>

